<section>

    <div class="d-flex justify-content-between">
      <h4>List Products</h4>
      <a href="#" routerLink="/" class="btn btn-primary">Back</a>
      <a routerLink="/product/create" class="btn btn-success">Create New Product</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Valor</th>
        <th>Vencimento</th>
        <th>Quantidade</th>
        <th>Percevivel</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        
        <!-- Mostrando o nome das Categorias que são chamadas como relacionamento com a Tabela de Categorias -->
        <ng-container *ngFor="let category of category">
        <td *ngIf="product.category_id== category.id">
        {{ category.name }}</td>
       </ng-container>

        <td>{{ product.valor}}</td>
        <td>{{ product.venc }}</td>
        <td>{{ product.quant }}</td>
        <td>{{ product.perc }}</td>
        <td>
          <a href="#" [routerLink]="['/product/', 'edit', product.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </section>
