<address>

    <div class="d-flex justify-content-between">
      <h4>List category</h4>
      <a href="#" routerLink="/" class="btn btn-primary">Back</a>
      <a routerLink="/category/create" class="btn btn-success">Create New Category</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.name }}</td>
        <td>
          <a href="#" [routerLink]="['/category/', 'edit', categoria.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteCategoria(categoria.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </address>
